<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IPeopleRepository" type="AddressBook.Data.Repository.IPeopleRepository,AddressBook.Data.Repository"></alias>
    <alias alias="PeopleRepository" type="AddressBook.Data.Repository.PeopleRepository,AddressBook.Data.Repository"></alias>
    <alias alias="AddressBookContext" type="AddressBook.Data.Repository.AddressBookContext,AddressBook.Data.Repository"></alias>

    <container>
      <register type="IPeopleRepository" mapTo="PeopleRepository" />
    </container>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>